In [4]:
import spacy

In [5]:
nlp = spacy.load("en_core_web_sm")

In [7]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [12]:
test_str = '''Avalon Technologies' Rs 865 crore - IPO to open for subscription on April 3'''

doc = nlp(test_str)

In [13]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Avalon Technologies'  |  ORG  |  Companies, agencies, institutions, etc.
865  |  CARDINAL  |  Numerals that do not fall under another type
April 3  |  DATE  |  Absolute or relative dates or periods

In [14]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [15]:
#Setting custom entities

doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Twitter  |  ORG
$45 billion  |  MONEY

In [16]:
s = doc[2:5]
s

going to acquire

In [17]:
type(s)

spacy.tokens.span.Span

In [18]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [19]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

### Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

In [20]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [21]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [25]:
for ent in doc.ents:
    if ent.label_ == 'GPE':
        print(ent.text)

India
Delhi
Gujarat
Tamilnadu
Andhrapradesh
Assam
Bihar

### Excersie: 2
Extract all the birth dates of cricketers in the given Text

In [26]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

for ent in doc.ents:
    if ent.label_ == 'DATE':
        print(ent.text)

24 April 1973
5 November 1988
7 July 1981
19 December 1974